.Roundfooter{
    position: absolute;
    background: #00000080;
    display: inline-flex;
    width: 95%;
    height: 50px;
    overflow: hidden;
    bottom: 0;
    border-radius: 50px;
    margin-bottom: 0.2rem;
    left: 2%;
}