.DivHolder{
    position: relative;
    width: 95%;
    height: 30%;
    background: #00000080;
    display: block;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 1%;
    margin-left: 2%;
}